body {
  font-size: 16px;
  color: #000;
  background-color: #adb8b7;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #192f4d;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 10px;
}

.dropdown-divider {
  background-color:#222;
  height: 0.2px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #fff;
  text-align: center;
}
#nav-list a:hover {
  background: #222;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */


/* HOME PAGE */
h2 {
  margin: 15px auto 30px; 
}

.container{
  margin: 15px;
} 

#d1 {
  background-color: #fff;
  height: auto;
  margin: 10px;
  float: left;
  padding: 15px 25px 40px 25px;
}

#p1 {
  width: auto;
  height: 20px;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
  padding: 0px;
  font-weight: 600;
  font-size: 1.2em;  
  }  
  
.row {
  margin: 5px;
  width: 100%;
  padding: 0px;
  }


/* END HOME PAGE */



/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: auto;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 1.5em;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  /* End Header */

  /* Home Page */
  .container {
    margin-top: 10px;
    padding: 0;
  }

}


