body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  
  
  * {box-sizing: border-box;
  font-family: Helvetica;
  }

/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  
h1 {
  text-align:	center;
  }
  
#d1 {
  background-color: #AAAAAA;
  height: auto;
  margin: 10px;
  float: left;
  border: 1px solid black;
  padding: 50px 25px 40px 25px;
}

#p1 {
  background-color: Pink;
  width: 90px;
  height: 20px;
  border: 1px solid black;
  float: right;
  margin-right: -26px;
  margin-top: -51px;
  text-align:	center;
  padding: 0px;
  }  
  
#p2 {
  background-color: #FF0000;
  width: 90px;
  height: 20px;
  border: 1px solid black;
  float: right;
  margin-right: -26px;
  margin-top: -51px;
  text-align:	center;
  padding: 0px;
  } 
  
#p3 {
  background-color: Yellow;
  width: 90px;
  height: 20px;
  border: 1px solid black;
  float: right;
  margin-right: -26px;
  margin-top: -51px;
  text-align:	center;
  padding: 0px;
  } 

.row {
  width: 100%;
  padding: 5px;
  }
  
 @media (min-width:992px) {
   .col-lg-4 {
    width: 33%;
    float: left;
   }
  }
 
 @media (min-width:768px) and (max-width: 991px){
   .col-md-6 {
    width: 50%;
    float: left;
   }
    .col-md-12 {
    width: 100%;
    float: left;
      }
  }
  
 @media (max-width: 767px) {
   .col-sm-12 {
    width: 100%;
    float: left;
    }   
  }

